@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
  }
  
  select option {
    background-color: #221e10;
    color: white;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.font-logo {
  font-family: 'Cormorant Garamond', serif;
}
